*.out
piq*
*.jpg
output_text*
summary*
*.pkl
*.pyc
*jpg
*pyc
model/*
output_txt/*
piq_source/*
piq/*
summary/*
test*
*.out
df_test/*
bw_test/*
__pycache__/*
.mypy_cache*
imgshow/*
film_output/*
*.swp
*.txt
